<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>welcome.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>ServerInfo</servlet-name>
        <servlet-class>servlets.ServerInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServerInfo</servlet-name>
        <url-pattern>/servlets/ServerInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>information</servlet-name>
        <servlet-class>servlets.information</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>information</servlet-name>
        <url-pattern>/servlets/information</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>servlets/information</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>configDemoServlet</servlet-name>
        <servlet-class>servlets.ConfigDemoServlet</servlet-class>
        <init-param>
            <param-name>email</param-name>
            <param-value>hacker@163.com</param-value>
        </init-param>
        <init-param>
            <param-name>telephone</param-name>
            <param-value>8899123</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>configDemoServlet</servlet-name>
        <url-pattern>/configDemo.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>servlets.WelcomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/servlets/WelcomeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>servlets.FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/servlets/FirstServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SecondServlet</servlet-name>
        <servlet-class>servlets.SecondServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SecondServlet</servlet-name>
        <url-pattern>/servlets/SecondServlet</url-pattern>
    </servlet-mapping>
    
</web-app>